



body{
    height:100vh;
    background: linear-gradient(90deg, hsl(261, 100%, 67%) ,  hsl(265, 46%, 27%));
    cursor:url(../img/8673214_ic_fluent_cursor_click_filled_icon.png), auto !important;
    background:url(../img/ezgif.com-gif-maker.gif); background-size:cover; background-repeat: no-repeat;
}

    .container > div:nth-of-type(1){
        width:18vw; height:8vh; 
        background:rgba(255, 255, 255, 0.5);
        position:relative; left:50%; top:90%; 
        transform: translateX(-50%);
        border-radius: 50px;
    }
    .container > div:nth-of-type(1) > ul{
        display:Flex; justify-content: space-evenly; align-items: center;
        position:relative;
    }
    .container > div:nth-of-type(1) > ul li{
        line-height:11.5vh;
    }

    @keyframes rotatee{
        100%{transform:rotateY(-360deg);}
    }

    #pinterest,
    #music,
    #drum{
        width:2.5vw;
        cursor: url(../img/premium-icon-click-2725783.png), auto !important; 
    }
    #tv{
        width:2.5vw;
        cursor: url(../img/premium-icon-click-2725783.png), auto !important; 
    }

    #menu_icon{
        width:100%; height:20vh;
        display:flex; justify-content: space-evenly; align-items: center;
    }
        #menu_icon2{
            width:100%; height:10vh;
            display:flex; align-items: center;
        }
    #menu_icon > div,
    #menu_icon2 > div{
        width:5vw;
        display:flex; flex-flow:column wrap; justify-content: center; align-items: center;
    }
        #menu_icon2 > div{
            margin-left:4.97%;
        }
    #menu_icon > div > p,
    #menu_icon2 > div > p{
        font-family: 'Pretendard-Regular'; font-size:0.7vw; 
        color:white;
        padding-top:5%;
    }
    #menu_icon > div > img,
    #menu_icon2 > div > img{
        width:3vw;
        
    }
    #menu_icon > div > img:hover,
    #menu_icon2 > div > img:hover{
        cursor: url(../img/premium-icon-click-2725783.png), auto !important; 
    }

    