body{
    background:black;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  body::-webkit-scrollbar-track {
    background-color: #222;
  }

#wrap{
    overflow-y: scroll;
    position:relative;
}
#wrap::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

#slider{
    width:100%; height:60vh;
    background-image: url(../img/music==1/ttrm_bg.jpg); background-repeat: no-repeat; background-size:100% 100%;
    position:relative;
}

#ttrm-show{
    width:90%; height:auto;
    display:flex; flex-flow: column;
    position:absolute; top:60%; left:10%;
}
#ttrm-show > div:nth-of-type(2){
    width:90%;
    display:flex;
}

#ttrm-text{
    width:90%; height:6vh;
}
    #ttrm-text > p,
    #shuffle > p,
    #music-station > p{
        font-family: 'Pretendard-Regular'; font-size:0.8vw;
    }
    #ttrm-text > p{
        font-size:1.8vw; font-weight: bold;
        color:white;
    }
#shuffle,
#music-station{
    width:8vw; height:4vh;
    border-radius: 3px;
    background-color: white;
    display:flex; align-items: center; justify-content: space-evenly;
    margin-right:0.5%;
    cursor: pointer;
}
#subscribe{
    width:6vw;
    border: 1px solid #ff4245; border-radius: 3px;
    cursor: pointer;
}
#subscribe p{
    width:6vw; height:4vh;
    color:#ff4245; 
    font-family: 'Pretendard-Regular';
    display: flex; align-items: center; justify-content: center;
}
    #shuffle img,
    #music-station img{
        width:1.5vw;
    }

.section{
    width:100%; height:190vh;
}

#music-list,
#album-list,
#video-list,
#artist-recommend{
    width:80%; height:auto;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}

    #album-list,
    #video-list,
    #artist-title{
        margin-top:5%;
    }

#music-title,
#album-title,
#video-title,
#artist-title{
    width:80%; height:6vh;
    color:white;
    font-family: 'Pretendard-Regular'; font-size:1.45vw;
}
#music-title > p > span,
#video-title > p > span{
    font-size:0.8vw;
    padding-left:4%;
    color:#999;
    cursor: pointer;
}

#legend-story,
#miss-dream,
#in-a-storm,
#planet-and-star,
#water-city{
    width:100%; height:6vh;
    display:flex;
    border-bottom:1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

#legend-story > div:nth-of-type(1),
#miss-dream > div:nth-of-type(1),
#in-a-storm > div:nth-of-type(1),
#planet-and-star > div:nth-of-type(1),
#water-city > div:nth-of-type(1){
    width:35%;
    display:flex; align-items: center;
}
#legend-story > div:nth-of-type(2),
#miss-dream > div:nth-of-type(2),
#in-a-storm > div:nth-of-type(2),
#planet-and-star > div:nth-of-type(2),
#water-city > div:nth-of-type(2){
    width:25%;
    display:flex; align-items: center;
}
#legend-story > div:nth-of-type(3),
#miss-dream > div:nth-of-type(3),
#in-a-storm > div:nth-of-type(3),
#planet-and-star > div:nth-of-type(3),
#water-city > div:nth-of-type(3){
    width:25%;
    display:flex; align-items: center;
}
#legend-story > div:nth-of-type(4),
#miss-dream > div:nth-of-type(4),
#in-a-storm > div:nth-of-type(4),
#planet-and-star > div:nth-of-type(4),
#water-city > div:nth-of-type(4){
    width:15%;
    filter:invert(0.8);
    display:flex; align-items: center; justify-content: flex-end;
}

#legend-story > div:nth-of-type(1) img,
#miss-dream > div:nth-of-type(1) img,
#in-a-storm > div:nth-of-type(1) img,
#planet-and-star > div:nth-of-type(1) img,
#water-city > div:nth-of-type(1) img{
    width:2vw;
}

#legend-story > div:nth-of-type(1) p,
#miss-dream > div:nth-of-type(1) p,
#in-a-storm > div:nth-of-type(1) p,
#planet-and-star > div:nth-of-type(1) p,
#water-city > div:nth-of-type(1) p{
    color:white;
    font-family: 'Pretendard-Regular'; font-size:0.9vw;
    padding-left:4%;
}
#legend-story > div:nth-of-type(2) p,
#miss-dream > div:nth-of-type(2) p,
#in-a-storm > div:nth-of-type(2) p,
#planet-and-star > div:nth-of-type(2) p,
#water-city > div:nth-of-type(2) p,
#legend-story > div:nth-of-type(3) p,
#miss-dream > div:nth-of-type(3) p,
#in-a-storm > div:nth-of-type(3) p,
#planet-and-star > div:nth-of-type(3) p,
#water-city > div:nth-of-type(3) p{
    color:#999;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
}
#legend-story > div:nth-of-type(2) p:hover,
#miss-dream > div:nth-of-type(2) p:hover,
#in-a-storm > div:nth-of-type(2) p:hover,
#legend-story > div:nth-of-type(3) p:hover,
#miss-dream > div:nth-of-type(3) p:hover,
#in-a-storm > div:nth-of-type(3) p:hover,
#planet-and-star > div:nth-of-type(3) p:hover,
#water-city > div:nth-of-type(3) p:hover{
    text-decoration: underline;
}

#legend-story > div:nth-of-type(4) img,
#miss-dream > div:nth-of-type(4) img,
#in-a-storm > div:nth-of-type(4) img,
#planet-and-star > div:nth-of-type(4) img,
#water-city> div:nth-of-type(4) img{
    width:1.3vw;
    margin-left:7%;
}
#legend-story > div:nth-of-type(4) img:nth-of-type(1),
#miss-dream > div:nth-of-type(4) img:nth-of-type(1),
#in-a-storm > div:nth-of-type(4) img:nth-of-type(1),
#planet-and-star > div:nth-of-type(4) img:nth-of-type(1),
#water-city > div:nth-of-type(4) img:nth-of-type(1){
    margin-right:5%;
}

#album-list-list{
    width:100%; height:auto;
    display: flex;
}
#list-1,
#list-2{
    width:20%;
    position:relative;
    cursor: pointer;
}

#list-1 img,
#list-2 img{
    width:14vw;
    border-radius: 3px;
}
#list-1 p,
#list-2 p{
    width:90%;
    color:white;
    text-overflow: ellipsis;
    font-family: 'Pretendard-Regular';
    padding-top:5%;
}
#list-1 p:hover,
#list-2 p:hover{
    text-decoration: underline;
}
#list-1 span,
#list-2 span{
    color:#999;
    font-family: 'Pretendard-Regular';
    padding-top:3%;
}
#list-1 > #the-top,
#list-2 > #the-top,
#list-1 > #the-bottom,
#list-2 > #the-bottom{
    width:1.5vw;
    position:absolute;
}
    #list-1 > #the-bottom,
    #list-2 > #the-bottom{
        width:3vw;
    }
    #the-top{
        top:5%; right:15%;
        filter: invert(1);
    }
    #the-bottom{
        bottom:30%; right:18%;
        opacity: 0.9;
    }

#video-list-list{
    width: 100%;
    position:relative;
}
#vll{
    width:1709.32px;
    display:flex;
    overflow: hidden;
}
#vll li{
    width:30%;
    cursor: pointer;
    margin-right:1%;
    float: left;
}
#vll li img{
    width:23vw;
}
#vll li p,
#al1 li p{
    width:100%;
    color:white; 
    font-family: 'Pretendard-Regular'; font-size:0.9vw;
    padding-top:3%;
}
#vll li p:hover,
#al1 li p:hover{
    text-decoration: underline;
}
#al1 li p{
    padding-top:8%;
}
#al1 li p{
    text-align: center;
}
#vll li span,
#al1 li span{
    color:#999;
    font-family: 'Pretendard-Regular'; font-size:0.9vw;
    text-align: center;
}
#prev,
#prev1,
#next,
#next1{
    position:absolute; top:30%;
    filter: invert(1);
    cursor: pointer;
}
#prev,
#prev1{
    left:0;
}
#prev1{
    top:35%;
}
#next{
    right:0;
}
#next1{
    right:0; top:35%;
}

#artist-list{
    width:100%;
    position:relative;
    overflow:hidden;
}

#al1{
    width:1709.32px;
    display:Flex; justify-content: space-between;
}
#al1 img{
    width:12vw;
    border-radius:50%;
}
#al1 li{
    margin-right:1.5%;
    display:flex; flex-flow:column;
    cursor: pointer;
}
