
body{
    height:100vh;
    background: linear-gradient(90deg, hsl(261, 100%, 67%) ,  hsl(265, 46%, 27%));
    cursor:url(../img/8673214_ic_fluent_cursor_click_filled_icon.png), auto !important;
    background:url(../img/ezgif.com-gif-maker-cat.gif); background-size:cover; background-repeat: no-repeat;
    overflow-y: hidden;
}

#wrap{
    overflow-y: scroll;
    position:relative;
}
#wrap::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

header{
    width:100%; height:4vh;
    position:relative;
    background-color:black;
}
    #search{
        width:20vw;
        position:absolute; top:0; left:40%;
        display:flex; justify-content: space-evenly;
    }
    #search > p{
        color:white;
        font-family: 'Pretendard-Regular'; font-size:1.3vw; font-weight: normal;
    }
    #search > p:hover{
        cursor: url(../img/premium-icon-click-2725783-1.png), auto !important; 
    }

#slider{
    width:100%; height:42vh;
    background-color:black;
}
    #the_bottom_music_bar{
        width:89vw; height:7vh;
        position:fixed; bottom:4.25%; z-index: 1;
        background-color: #222;
       
    }
    #random_modal{
        width:100%;
        display:flex; justify-content: space-between;
    }
    #play_button_box{
        width:15vw; height:7vh;
        display:flex; justify-content: space-evenly; align-items: center;
        position: relative;
    }
        #left_play,
        #play_music,
        #right_play{
            width:0.8vw; height:1.5vh;
            filter:invert(1);
        }
        #play_music{
            width:1.8vw; height:3vh;
            filter:invert(0);
        }
        #play_music:hover{
            cursor: url(../img/premium-icon-click-2725783-1.png), auto !important; 
        }
        #music_time{
            display:flex;
        }
            #music_current_time{
                width:2.3vw; height:7vh;
                color:white;
            }
            #music_duration_time{
                width:2.3vw; height:7vh;
                color:white;
            }

    #middle{
        display:flex;
    }
    #album_box{
        width:15vw; height:7vh;
        display:flex; align-items: center; justify-content: space-evenly;
    }  
    #album_image{
        width:2.5vw;
        border-radius: 3px;
    }
        #album_show > p,
        #album_show > span{
            font-family: 'Pretendard-Regular'; font-size:0.95vw;
            color:white;
        }
        #album_show > span{
            color:#999;
        }

    #etc_icon_box{
        width:14vw; height:7vh;
        display:flex; justify-content: space-evenly; align-items: center;
    }
        #etc_icon_box img{
            width:1.3vw;
            filter: invert(0.7);
        }
    #music_volume_etc{
        width:18vw; height:7vh;
        display:flex; justify-content: space-evenly; align-items: center;
    }
        #music_volume_etc img{
            width:1.3vw;
            filter: invert(0.7);
        }
        #volume_bar{
            width:4vw;
            color:white;
        }
        input[type="range"]{
            -webkit-appearance: none;
            
        }
        input[type="range"]::-webkit-slider-runnable-track{
            background-color:tomato;
        }
        input[type="range"]::-webkit-slider-thumb{
            -webkit-appearance: none;
            border:1px solid white;
        }


#music_top_text{
    width:20vw; height:5vh;
    margin-left:5%; 
    padding-top:1%;
}
#music_top_text > p{
    font-family: 'Pretendard-Regular'; font-size:1vw;
    color:#888;
}
#music_top_text > h1{
    font-family: 'Pretendard-Regular'; font-size:2vw;
    color:white;
}
#music_select{
    width:100%; height:30.3vh;
    display:flex; justify-content: space-evenly;
}
#music_select_one{
    width:25vw; height:30.3vh;
    margin-top:2.5%;
}
#music_select_two{
    width:25vw; height:30.3vh;
    margin-top:2.5%;
}
#music_select_three{
    width:25vw; height:30.3vh;
    margin-top:2.5%;
}

#pdm_dopamine,
#jw_comeandgo,
#id_wrecked,
#aw_stranger_things,
#or_someday,
#tw_moth_to_a_flame,
#en_loco,
#pt_good_luck,
#lh_baby_blue,
#airman_soda,
#valley_society,
#eh_one{
    width:100%; height:7.5vh;
    display:flex; flex-flow: column wrap; justify-content: center; align-items: center;
    position: relative;
}
    #pdm_dopamine:hover,
    #jw_comeandgo:hover,
    #id_wrecked:hover,
    #aw_stranger_things:hover,
    #or_someday:hover,
    #tw_moth_to_a_flame:hover,
    #en_loco:hover,
    #pt_good_luck:hover,
    #lh_baby_blue:hover,
    #airman_soda:hover,
    #valley_society:hover,
    #eh_one:hover{
        background-color:#222;
        filter: brightness(0.8);
    }
    #pdm_dopamine:hover #play,
    #jw_comeandgo:hover #play,
    #id_wrecked:hover #play,
    #aw_stranger_things:hover #play,
    #or_someday:hover #play,
    #tw_moth_to_a_flame:hover #play,
    #en_loco:hover #play,
    #pt_good_luck:hover #play,
    #lh_baby_blue:hover #play,
    #airman_soda:hover #play,
    #valley_society:hover #play,
    #eh_one:hover #play{
        opacity:1;
        filter:brightness(1);
    }
    #pdm_dopamine img,
    #jw_comeandgo img,
    #id_wrecked img,
    #aw_stranger_things img,
    #or_someday img,
    #tw_moth_to_a_flame img,
    #en_loco img,
    #pt_good_luck img,
    #lh_baby_blue img,
    #airman_soda img,
    #valley_society img,
    #eh_one img{
        width:3vw;
        border-radius: 3px;
    }
        #pdm_dopamine > #play,
        #jw_comeandgo > #play,
        #id_wrecked > #play,
        #aw_stranger_things > #play,
        #or_someday > #play,
        #tw_moth_to_a_flame > #play,
        #en_loco > #play,
        #pt_good_luck > #play,
        #lh_baby_blue > #play,
        #airman_soda > #play,
        #valley_society > #play,
        #eh_one > #play{
            width:1.5vw;
            position:absolute; top:30%; left:5%;
            opacity:0;
        }
    #pdm_dopamine_text,
    #jw_comeandgo_text,
    #id_wrecked_text,
    #aw_stranger_things_text,
    #or_someday_text,
    #tw_moth_to_a_flame_text,
    #en_loco_text,
    #pt_good_luck_text,
    #lh_baby_blue_text,
    #airman_soda_text,
    #valley_society_text,
    #eh_one_text{
        width:20vw; height: 6vh;
        display: flex; flex-flow: column; justify-content: space-evenly;
        color:white;
    }
        #pdm_dopamine_text > p,
        #jw_comeandgo_text > p,
        #id_wrecked_text > p,
        #aw_stranger_things_text > p,
        #or_someday_text > p,
        #tw_moth_to_a_flame_text > p,
        #en_loco_text > p,
        #pt_good_luck_text > p,
        #lh_baby_blue_text > p,
        #airman_soda_text > p,
        #valley_society_text > p,
        #eh_one_text > p{
            width:100%;
            font-family: 'Pretendard-Regular'; font-size:0.9vw;
        }
        #pdm_dopamine_text > span,
        #jw_comeandgo_text > span,
        #id_wrecked_text > span,
        #aw_stranger_things_text > span,
        #or_someday_text > span,
        #tw_moth_to_a_flame_text > span,
        #en_loco_text > span,
        #pt_good_luck_text > span,
        #lh_baby_blue_text > span,
        #airman_soda_text > span,
        #valley_society_text > span,
        #eh_one_text > span{
            width:100%;
            font-family: 'Pretendard-Regular'; font-size:0.9vw;
            display: flex; align-items: center;
        }
        #pdm_dopamine_text > span > #sound,
        #jw_comeandgo_text > span > #sound,
        #id_wrecked_text > span > #sound,
        #aw_stranger_things_text > span > #sound,
        #or_someday_text > span > #sound,
        #tw_moth_to_a_flame_text > span > #sound,
        #en_loco_text > span > #sound,
        #pt_good_luck_text > span > #sound,
        #lh_baby_blue_text > span > #sound,
        #airman_soda_text > span > #sound,
        #valley_society_text > span > #sound,
        #eh_one_text > span > #sound{
            width:1.3vw;
        }
        #pdm_dopamine_text > span > p,
        #jw_comeandgo_text > span > p,
        #id_wrecked_text > span > p,
        #aw_stranger_things_text > span > p,
        #or_someday_text > span > p,
        #tw_moth_to_a_flame_text > span > p,
        #en_loco_text > span > p,
        #pt_good_luck_text > span > p,
        #lh_baby_blue_text > span > p,
        #airman_soda_text > span > p,
        #valley_society_text > span > p,
        #eh_one_text > span > p{
            padding-left:3%;
        }
            #aw_stranger_things_text > p,
            #jw_comeandgo_text > span > p,
            #tw_moth_to_a_flame_text > span > p,
            #lh_baby_blue_text > span > p{
                width:90%; 
                text-overflow: ellipsis;
                overflow:hidden;
                white-space: nowrap;
            }

.section{
    width:100%; height:auto;
    background-color:black;
}

#music_middle_text{
    width:20vw; height:5vh;
    margin-left:5%;
    padding-top:7%;
    line-height:10vh;
}
#music_middle_text > h1{
    font-family: 'Pretendard-Regular'; font-size:2vw;
    color:white;
}

#re_music_listen,
#re_music_listen_2{
    width:100%; height:40vh;
    display:flex; justify-content: space-evenly;
    position:relative;
    overflow: hidden;
    margin-top:2%;
}
#re_music_listen_slide,
#re_music_listen_slide_2{
    width:100%; height:40vh;
    display:flex;
    overflow: hidden;
}
#re_music_listen_slide_2{
    display:none;
}

    #re_wrecked,
    #mgk_love_race,
    #pdm_hypnotized,
    #surfaces_wave_of_you,
    #mgk_meb,
    #iu_summer_love,
    #or_start_again,
    #wdw_fallin,
    #sweet_home,
    #dnce_tb{
        width:20vw; height:40vh;
        display: flex; flex-flow: column; justify-content: center; align-items: center;
        position:relative;
        float:left;
    }
    #iu_summer_love,
    #or_start_again,
    #wdw_fallin,
    #sweet_home,
    #dnce_tb{
        width:20vw; height:40vh;
        display: flex; flex-flow: column; justify-content: center; align-items: center;
        position:relative;
        float:left;
    }
    #re_wrecked:hover,
    #mgk_love_race:hover,
    #pdm_hypnotized:hover,
    #surfaces_wave_of_you:hover,
    #mgk_meb:hover,
    #iu_summer_love:hover,
    #or_start_again:hover,
    #wdw_fallin:hover,
    #sweet_home:hover,
    #dnce_tb:hover{
        filter: brightness(0.8);
    }
        #re_wrecked > #play,
        #mgk_love_race > #play,
        #pdm_hypnotized > #play,
        #surfaces_wave_of_you > #play,
        #mgk_meb > #play,
        #iu_summer_love > #play,
        #or_start_again > #play,
        #wdw_fallin > #play,
        #sweet_home > #play,
        #dnce_tb > #play{
            width:3vw;
            position:absolute; top:35%; left:42%;
            opacity: 0;
        }
        #re_wrecked:hover > #play,
        #mgk_love_race:hover > #play,
        #pdm_hypnotized:hover > #play,
        #surfaces_wave_of_you:hover > #play,
        #mgk_meb:hover > #play,
        #iu_summer_love:hover > #play,
        #or_start_again:hover > #play,
        #wdw_fallin:hover > #play,
        #sweet_home:hover > #play,
        #dnce_tb:hover > #play{
            opacity:1;
            filter:brightness(1);
        }

    #re_wrecked img,
    #mgk_love_race img,
    #pdm_hypnotized img,
    #surfaces_wave_of_you img,
    #mgk_meb img,
    #iu_summer_love img,
    #or_start_again img,
    #wdw_fallin img,
    #sweet_home img,
    #dnce_tb img{
        width:15vw;
        border-radius: 10px;
    }
    #re_wrecked_text,
    #mgk_love_race_text,
    #pdm_hypnotized_text,
    #surfaces_wave_of_you_text,
    #mgk_meb_text,
    #iu_summer_love_text,
    #or_start_again_text,
    #wdw_fallin_text,
    #sweet_home_text,
    #dnce_tb_text{
        width:15vw; height:7vh;
        font-family: 'Pretendard-Regular'; font-size:0.9vw;
        color:white;
        display: flex; flex-flow: column; justify-content: center;
    }
        #pdm_hypnotized_text > span,
        #surfaces_wave_of_you_text > span,
        #mgk_meb_text > span,
        #iu_summer_love_text > span,
        #or_start_again_text > span,
        #wdw_fallin_text > span,
        #sweet_home_text > span{
            width:95%;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    #prev,
    #next{
        width:2.5vw;
        position:absolute; top:36%;
        filter:invert(1);
    }
    #prev{
        left:0;
        display:none;
    }
    #next{
        right:0;
    }

#enjoy_music_listen{
    width:100%; height:70vh;
    display:flex; flex-flow: column;
    position:relative;
    overflow: hidden;
}
#enjoy_music_listen_text{
    width:20vw; height:5vh;
    margin-left:5%;
    padding-top:8%;
    line-height:5vh;
    font-family: 'Pretendard-Regular'; font-size:2vw; font-weight: bold;
    color:white;
}
#enjoy_music_listen_slide,
#enjoy_music_listen_slide_2{
    width:100%;
    display:flex; justify-content: space-evenly;
}
#enjoy_music_listen_slide_2{
    display:none;
}
    #ttrm,
    #the_weeknd,
    #peppertones,
    #ns_all_for_me,
    #johnk_shadows,
    #mcmong,
    #mgk,
    #n_flying,
    #isaac_dunbar,
    #yun_gun,
    #hs_golden,
    #chain_smokers{
        width:13vw; height:40vh;
        position: relative;
        display: flex; flex-flow: column; align-items: center; justify-content: space-evenly;
    }
    #ttrm:hover,
    #the_weeknd:hover,
    #peppertones:hover,
    #ns_all_for_me:hover,
    #johnk_shadows:hover,
    #mcmong:hover,
    #mgk:hover,
    #n_flying:hover,
    #isaac_dunbar:hover,
    #yun_gun:hover,
    #hs_golden:hover,
    #chain_smokers:hover{
        filter:brightness(0.8);
    }
    #ttrm img,
    #the_weeknd img,
    #peppertones img,
    #mgk img,
    #yun_gun img,
    #chain_smokers img{
        width:12vw;
        border-radius: 50%;
    }
        #ns_all_for_me img,
        #johnk_shadows img,
        #mcmong img,
        #n_flying img,
        #isaac_dunbar img,
        #hs_golden img{
            width:12vw;
            border-radius: 10px;
        }
    #ttrm_text,
    #the_weeknd_text,
    #peppertones_text,
    #ns_all_for_me_text,
    #johnk_shadows_text,
    #mcmong_text,
    #mgk_text,
    #n_flying_text,
    #isaac_dunbar_text,
    #yun_gun_text,
    #hs_golden_text,
    #chain_smokers_text{
        width:100%; 
        font-family: 'Pretendard-Regular'; font-size:0.9vw;
        color:white;
        display: flex; flex-flow: column;
        padding-left:10%;
    }
        #ttrm_text > span,
        #the_weeknd_text > span,
        #peppertones_text > span,
        #ns_all_for_me_text > span,
        #johnk_shadows_text > span,
        #mcmong_text > span,
        #mgk_text > span,
        #n_flying_text > span,
        #isaac_dunbar_text > span,
        #yun_gun_text > span,
        #hs_golden_text > span,
        #chain_smokers_text > span{
            color:#999;
        }
            #isaac_dunbar_text > p,
            #chain_smokers_text > span{
                width:95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
    #ns_all_for_me > #play,
    #johnk_shadows > #play,
    #mcmong > #play,
    #n_flying > #play,
    #isaac_dunbar > #play,
    #hs_golden > #play,
    #chain_smokers > #play{
        width:2.3vw;
        position:absolute; top:35%; left:42%;
    }
    #prev1,
    #next1{
        width:2.5vw;
        position:absolute; top:47%;
        filter:invert(1);
    }
    #prev1{
        left:0;
        display:none;
    }
    #next1{
        right:0;
    }

#recommend_music_video{
    width:100%; height:50vh;
    background: orange;
}
#recommend_music_video_text{
    width:20vw; height:5vh;
    margin-left:5%;
    padding-top:2%;
    line-height:5vh;
    font-family: 'Pretendard-Regular'; font-size:2vw;
    color:white;
}