@charset "UTF-8";

@mixin widthvalue{
    width:25%;
    display:flex; align-items: center;
}

@mixin arrow{
    position:absolute; top:30%;
    filter: invert(1);
    cursor: pointer;
}

body{
    background: black;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  body::-webkit-scrollbar-track {
    background-color: #222;
  }

#wrap{
    overflow-y: scroll;
    position:relative;

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
    }
}

#slider{
    width:100%; height:80vh;
    background-image: url(../../img/music==2/afterhours.jpg); background-repeat: no-repeat; background-size:100% 100%;
    position:relative;
}

#ttrm-show{
    width:90%; height:auto;
    display:flex; flex-flow: column;
    position:relative; top:60%; left:10%;

    & > div:nth-of-type(2){
        width:90%;
        display:flex;
        padding-top:2%;
    }
}

#ttrm-text{
    width:90%; height:auto;

    & > p:nth-of-type(1){
        font-family :  'Pretendard-Regular'; font-size:2vw; font-weight: bold;
        color:white;
    }
}

.read-more-state {
    display: none;
}

.read-more-wrap{
    width:40%; height:auto;
    font-weight: normal; font-family : 'Pretendard-Regular'; font-size:0.75vw;
    color:white;
    padding-top:0.5%;
}
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target{
    opacity: 1;
    font-size: inherit;
    height: 999rem;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: '더 보기';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: '간략히 보기';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    margin-top:1%;
  }

#shuffle > p,
#music-station > p{
    font-family: 'Pretendard-Regular'; font-size:0.8vw;
}

#shuffle,
#music-station{
    width:8vw; height:4vh;
    border-radius: 3px;
    background-color: white;
    display:flex; align-items: center; justify-content: space-evenly;
    margin-right:0.5%;
    cursor: pointer;

    & > img{
        width:1.5vw;
    }
}
#subscribe{
    width:6vw;
    border: 1px solid #ff4245; border-radius: 3px;
    cursor: pointer;

    & > p{
        width:6vw; height:4vh;
        color:#ff4245; 
        font-family: 'Pretendard-Regular';
        display: flex; align-items: center; justify-content: center;  
    }
}

.section{
    width:100%; height:235vh;
}

#music-list,
#album-list,
#video-list,
#artist-recommend{
    width:80%; height:auto;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
    #album-list,
    #video-list,
    #artist-title{
        margin-top:5%;
    }

#music-title,
#album-title,
#video-list-title,
#artist-title{
    width:80%; height:6vh;
    color:white;
    font-family: 'Pretendard-Regular'; font-size:1.45vw;
}
#music-title > p > span,
#video-list-title > p > span,
#album-title > p > span{
    font-size:0.8vw;
    padding-left:4%;
    color:#999;
    cursor: pointer;
}

#legend-story,
#miss-dream,
#in-a-storm,
#planet-and-star,
#water-city{
    width:100%; height:6vh;
    display:flex;
    border-bottom:1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

#legend-story > div:nth-of-type(1),
#miss-dream > div:nth-of-type(1),
#in-a-storm > div:nth-of-type(1),
#planet-and-star > div:nth-of-type(1),
#water-city > div:nth-of-type(1){
    width:35%;
    display:flex; align-items: center;

    & > img{
        width:2vw;
    }

    & > p{
        color:white;
        font-family: 'Pretendard-Regular'; font-size:0.9vw;
        padding-left:4%;
    }
}

#legend-story > div:nth-of-type(2),
#miss-dream > div:nth-of-type(2),
#in-a-storm > div:nth-of-type(2),
#planet-and-star > div:nth-of-type(2),
#water-city > div:nth-of-type(2){
    @include widthvalue;

    & > p{
        color:#999;
        font-family: 'Pretendard-Regular';
        cursor: pointer;
    }
    & p:hover{
        text-decoration: underline;
    }
}

#legend-story > div:nth-of-type(3),
#miss-dream > div:nth-of-type(3),
#in-a-storm > div:nth-of-type(3),
#planet-and-star > div:nth-of-type(3),
#water-city > div:nth-of-type(3){
    @include widthvalue;

    & > p{
        color:#999;
        font-family: 'Pretendard-Regular';
        cursor: pointer;
    }
    & p:hover{
        text-decoration: underline;
    }
}
#legend-story > div:nth-of-type(4),
#miss-dream > div:nth-of-type(4),
#in-a-storm > div:nth-of-type(4),
#planet-and-star > div:nth-of-type(4),
#water-city > div:nth-of-type(4){
    width:15%;
    filter:invert(0.8);
    display:flex; align-items: center; justify-content: flex-end;

    & > img{
        width:1.3vw;
        margin-left:7%;
    }
    & > img:nth-of-type(1){
        margin-right:5%;
    }
}

#album-list-list,
#album-list_list{
    width:100%; height:auto;
    display: flex;
    position:relative;
    overflow:hidden;

    &-1,
    &-2,
    &-3{
        width:20%;
        cursor: pointer;
        margin-right:2%;
        position:relative;

        & img{
            width:12vw;
            border-radius: 3px;
        }
        & p{
            width:90%;
            color:white;
            text-overflow: ellipsis;
            font-family: 'Pretendard-Regular';
            padding-top:5%;

            &:hover{
                text-decoration: underline;
            }
        }
        & span{
            color:#999;
            font-family: 'Pretendard-Regular';
            padding-top:3%;
        }
        & > #the-top,
        & > #the-bottom{
            width:1.5vw;
            position:absolute;
        }
        & > #the-bottom{
            width:2.5vw;
        }
        #the-top{
            top:5%; right:5%;
            filter: invert(1);
        }
        #the-bottom{
            bottom:30%; right:10%;
            opacity: 0.8;
            filter: invert(1);
        }
    }

    & > #prev3,
    & > #prev4,
    & > #next3,
    & > #next4{
        @include arrow;
    }

   & > #next3,
   & > #next4{
        right:0;
   }

}

.album-list_list,
.album-list-list{
    width:1709.32px;
    display:flex;
    overflow: hidden;
}

#video-list-list{
    width: 100%;
    position:relative;

    &-vll{
        width:1709.32px;
        display:flex;
        overflow: hidden;
        
        & li{
            width:30%;
            cursor: pointer;
            margin-right:1%;
            float: left;

            & img{
                width:23vw;
            }

            & p{
                width:100%;
                color:white; 
                font-family: 'Pretendard-Regular'; font-size:0.9vw;
                padding-top:3%;

                &:hover{
                    text-decoration: underline;
                }
            }
            & span{
                color:#999;
                font-family: 'Pretendard-Regular'; font-size:0.9vw;
                text-align: center;
            }
        }
    }

    & > #prev,
    & > #next{
        @include arrow;
    }

   &  > #next{
        right:0;
   }
    
}

#artist-list{
    width:100%;
    position:relative;
    overflow:hidden;

    &-al1{
        width:1709.32px;
        display:Flex; justify-content: space-between;

        & img{
            width:12vw;
            border-radius:50%;
        }

        & li{
            margin-right:1.5%;
            display:flex; flex-flow:column;
            cursor: pointer;
        }

        & p{
            width:100%;
            color:white; 
            font-family: 'Pretendard-Regular'; font-size:0.9vw;
            padding-top:3%;
            padding-top:8%;
            text-align: center;

            &:hover{
                text-decoration: underline;
            }
        }

        & span{
            color:#999;
            font-family: 'Pretendard-Regular'; font-size:0.9vw;
            text-align: center;
        }
    }

    & > #prev1,
    & > #next1{
        @include arrow;
    }

    & > #next1{
        right:0;
    }
}