body {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#9257ff), to(#402565));
  background: linear-gradient(90deg, #9257ff, #402565);
  background: url(../../img/preview.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.container {
  background: url(../../img/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#social-icon {
  width: 85%;
  height: 20vh;
  line-height: 25vh;
  padding-left: 15%;
}

#mmlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#etc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

#etc p {
  font-family: 'Pretendard-Regular';
  font-size: 1vw;
  color: white;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

#etc p:nth-of-type(1), #etc p:nth-of-type(2), #etc p:nth-of-type(3) {
  padding-right: 2%;
}

#show {
  width: 100%;
  height: 15vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#show p {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
}

#show span:nth-of-type(1) {
  margin-top: 1%;
}

#show span {
  font-family: 'Pretendard-Regular';
}

#sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
