body {
  height: 100vh;
  background: url(../../img/drum/preview.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.container {
  background: url(../../img/drum/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section {
  position: relative;
}

#pagemove {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  display: none;
  border: 0;
}

.main_menu {
  width: 18%;
  height: 89%;
  border-radius: 10px 0 0 10px;
  padding-top: 5.7%;
}

.main_menu li {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 60px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 60px rgba(0, 0, 0, 0.3);
  -webkit-transition: .35s;
  transition: .35s;
  cursor: pointer;
}

.main_menu li:hover {
  background: #737DFE;
}

.main_menu li:hover img {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.main_menu li:hover p {
  color: black;
}

.main_menu li.activeA {
  background: #737DFE;
}

.main_menu li img {
  padding-left: 10%;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: .35s;
  transition: .35s;
}

.main_menu li p {
  padding-left: 10%;
  color: white;
  -webkit-transition: .35s;
  transition: .35s;
}

#home {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 60px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 60px rgba(0, 0, 0, 0.3);
  -webkit-transition: .35s;
  transition: .35s;
  cursor: pointer;
}

.home,
.prev {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: .35s;
  transition: .35s;
}

.home:hover,
.prev:hover {
  background: #444;
}

.home p,
.prev p {
  color: white;
}

.home img,
.prev img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.home {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#section {
  width: 82%;
  height: 100%;
  position: relative;
  z-index: 5;
}

#main {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: flooat 1s infinite alternate;
          animation: flooat 1s infinite alternate;
  cursor: default;
}

#main img {
  width: 3.5vw;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-filter: invert(1);
          filter: invert(1);
}

#main p {
  color: white;
  font-size: 3vw;
  padding-left: 10%;
}

@-webkit-keyframes flooat {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

@keyframes flooat {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

#all-my-drum-cover,
#the-chainsmokres,
#vi-ew,
#o-l-d,
#v-log,
#offi-cial,
#re-mix,
#dub-step,
#be-st {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#all-my-drum-cover #video-list,
#all-my-drum-cover #video-list-1,
#all-my-drum-cover #video-list-2,
#all-my-drum-cover #video-list-3,
#the-chainsmokres #video-list,
#the-chainsmokres #video-list-1,
#the-chainsmokres #video-list-2,
#the-chainsmokres #video-list-3,
#vi-ew #video-list,
#vi-ew #video-list-1,
#vi-ew #video-list-2,
#vi-ew #video-list-3,
#o-l-d #video-list,
#o-l-d #video-list-1,
#o-l-d #video-list-2,
#o-l-d #video-list-3,
#v-log #video-list,
#v-log #video-list-1,
#v-log #video-list-2,
#v-log #video-list-3,
#offi-cial #video-list,
#offi-cial #video-list-1,
#offi-cial #video-list-2,
#offi-cial #video-list-3,
#re-mix #video-list,
#re-mix #video-list-1,
#re-mix #video-list-2,
#re-mix #video-list-3,
#dub-step #video-list,
#dub-step #video-list-1,
#dub-step #video-list-2,
#dub-step #video-list-3,
#be-st #video-list,
#be-st #video-list-1,
#be-st #video-list-2,
#be-st #video-list-3 {
  width: 70%;
  height: 100%;
  position: relative;
}

#all-my-drum-cover #video-list video,
#all-my-drum-cover #video-list-1 video,
#all-my-drum-cover #video-list-2 video,
#all-my-drum-cover #video-list-3 video,
#the-chainsmokres #video-list video,
#the-chainsmokres #video-list-1 video,
#the-chainsmokres #video-list-2 video,
#the-chainsmokres #video-list-3 video,
#vi-ew #video-list video,
#vi-ew #video-list-1 video,
#vi-ew #video-list-2 video,
#vi-ew #video-list-3 video,
#o-l-d #video-list video,
#o-l-d #video-list-1 video,
#o-l-d #video-list-2 video,
#o-l-d #video-list-3 video,
#v-log #video-list video,
#v-log #video-list-1 video,
#v-log #video-list-2 video,
#v-log #video-list-3 video,
#offi-cial #video-list video,
#offi-cial #video-list-1 video,
#offi-cial #video-list-2 video,
#offi-cial #video-list-3 video,
#re-mix #video-list video,
#re-mix #video-list-1 video,
#re-mix #video-list-2 video,
#re-mix #video-list-3 video,
#dub-step #video-list video,
#dub-step #video-list-1 video,
#dub-step #video-list-2 video,
#dub-step #video-list-3 video,
#be-st #video-list video,
#be-st #video-list-1 video,
#be-st #video-list-2 video,
#be-st #video-list-3 video {
  width: 99%;
  position: absolute;
  bottom: 20%;
  left: 1%;
  display: none;
}

#all-my-drum-cover #video-list video:hover,
#all-my-drum-cover #video-list-1 video:hover,
#all-my-drum-cover #video-list-2 video:hover,
#all-my-drum-cover #video-list-3 video:hover,
#the-chainsmokres #video-list video:hover,
#the-chainsmokres #video-list-1 video:hover,
#the-chainsmokres #video-list-2 video:hover,
#the-chainsmokres #video-list-3 video:hover,
#vi-ew #video-list video:hover,
#vi-ew #video-list-1 video:hover,
#vi-ew #video-list-2 video:hover,
#vi-ew #video-list-3 video:hover,
#o-l-d #video-list video:hover,
#o-l-d #video-list-1 video:hover,
#o-l-d #video-list-2 video:hover,
#o-l-d #video-list-3 video:hover,
#v-log #video-list video:hover,
#v-log #video-list-1 video:hover,
#v-log #video-list-2 video:hover,
#v-log #video-list-3 video:hover,
#offi-cial #video-list video:hover,
#offi-cial #video-list-1 video:hover,
#offi-cial #video-list-2 video:hover,
#offi-cial #video-list-3 video:hover,
#re-mix #video-list video:hover,
#re-mix #video-list-1 video:hover,
#re-mix #video-list-2 video:hover,
#re-mix #video-list-3 video:hover,
#dub-step #video-list video:hover,
#dub-step #video-list-1 video:hover,
#dub-step #video-list-2 video:hover,
#dub-step #video-list-3 video:hover,
#be-st #video-list video:hover,
#be-st #video-list-1 video:hover,
#be-st #video-list-2 video:hover,
#be-st #video-list-3 video:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

#all-my-drum-cover #video-list video:nth-of-type(1),
#all-my-drum-cover #video-list-1 video:nth-of-type(1),
#all-my-drum-cover #video-list-2 video:nth-of-type(1),
#all-my-drum-cover #video-list-3 video:nth-of-type(1),
#the-chainsmokres #video-list video:nth-of-type(1),
#the-chainsmokres #video-list-1 video:nth-of-type(1),
#the-chainsmokres #video-list-2 video:nth-of-type(1),
#the-chainsmokres #video-list-3 video:nth-of-type(1),
#vi-ew #video-list video:nth-of-type(1),
#vi-ew #video-list-1 video:nth-of-type(1),
#vi-ew #video-list-2 video:nth-of-type(1),
#vi-ew #video-list-3 video:nth-of-type(1),
#o-l-d #video-list video:nth-of-type(1),
#o-l-d #video-list-1 video:nth-of-type(1),
#o-l-d #video-list-2 video:nth-of-type(1),
#o-l-d #video-list-3 video:nth-of-type(1),
#v-log #video-list video:nth-of-type(1),
#v-log #video-list-1 video:nth-of-type(1),
#v-log #video-list-2 video:nth-of-type(1),
#v-log #video-list-3 video:nth-of-type(1),
#offi-cial #video-list video:nth-of-type(1),
#offi-cial #video-list-1 video:nth-of-type(1),
#offi-cial #video-list-2 video:nth-of-type(1),
#offi-cial #video-list-3 video:nth-of-type(1),
#re-mix #video-list video:nth-of-type(1),
#re-mix #video-list-1 video:nth-of-type(1),
#re-mix #video-list-2 video:nth-of-type(1),
#re-mix #video-list-3 video:nth-of-type(1),
#dub-step #video-list video:nth-of-type(1),
#dub-step #video-list-1 video:nth-of-type(1),
#dub-step #video-list-2 video:nth-of-type(1),
#dub-step #video-list-3 video:nth-of-type(1),
#be-st #video-list video:nth-of-type(1),
#be-st #video-list-1 video:nth-of-type(1),
#be-st #video-list-2 video:nth-of-type(1),
#be-st #video-list-3 video:nth-of-type(1) {
  display: block;
}

#all-my-drum-cover #video-list #play,
#all-my-drum-cover #video-list-1 #play,
#all-my-drum-cover #video-list-2 #play,
#all-my-drum-cover #video-list-3 #play,
#the-chainsmokres #video-list #play,
#the-chainsmokres #video-list-1 #play,
#the-chainsmokres #video-list-2 #play,
#the-chainsmokres #video-list-3 #play,
#vi-ew #video-list #play,
#vi-ew #video-list-1 #play,
#vi-ew #video-list-2 #play,
#vi-ew #video-list-3 #play,
#o-l-d #video-list #play,
#o-l-d #video-list-1 #play,
#o-l-d #video-list-2 #play,
#o-l-d #video-list-3 #play,
#v-log #video-list #play,
#v-log #video-list-1 #play,
#v-log #video-list-2 #play,
#v-log #video-list-3 #play,
#offi-cial #video-list #play,
#offi-cial #video-list-1 #play,
#offi-cial #video-list-2 #play,
#offi-cial #video-list-3 #play,
#re-mix #video-list #play,
#re-mix #video-list-1 #play,
#re-mix #video-list-2 #play,
#re-mix #video-list-3 #play,
#dub-step #video-list #play,
#dub-step #video-list-1 #play,
#dub-step #video-list-2 #play,
#dub-step #video-list-3 #play,
#be-st #video-list #play,
#be-st #video-list-1 #play,
#be-st #video-list-2 #play,
#be-st #video-list-3 #play {
  width: 4vw;
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 4;
}

#all-my-drum-cover #video-choice,
#the-chainsmokres #video-choice,
#vi-ew #video-choice,
#o-l-d #video-choice,
#v-log #video-choice,
#offi-cial #video-choice,
#re-mix #video-choice,
#dub-step #video-choice,
#be-st #video-choice {
  width: 29%;
  height: 98%;
  background-color: #222;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

#all-my-drum-cover #video-choice-text, #all-my-drum-cover #video-choice-text-1, #all-my-drum-cover #video-choice-text-2, #all-my-drum-cover #video-choice-text-3,
#the-chainsmokres #video-choice-text,
#the-chainsmokres #video-choice-text-1,
#the-chainsmokres #video-choice-text-2,
#the-chainsmokres #video-choice-text-3,
#vi-ew #video-choice-text,
#vi-ew #video-choice-text-1,
#vi-ew #video-choice-text-2,
#vi-ew #video-choice-text-3,
#o-l-d #video-choice-text,
#o-l-d #video-choice-text-1,
#o-l-d #video-choice-text-2,
#o-l-d #video-choice-text-3,
#v-log #video-choice-text,
#v-log #video-choice-text-1,
#v-log #video-choice-text-2,
#v-log #video-choice-text-3,
#offi-cial #video-choice-text,
#offi-cial #video-choice-text-1,
#offi-cial #video-choice-text-2,
#offi-cial #video-choice-text-3,
#re-mix #video-choice-text,
#re-mix #video-choice-text-1,
#re-mix #video-choice-text-2,
#re-mix #video-choice-text-3,
#dub-step #video-choice-text,
#dub-step #video-choice-text-1,
#dub-step #video-choice-text-2,
#dub-step #video-choice-text-3,
#be-st #video-choice-text,
#be-st #video-choice-text-1,
#be-st #video-choice-text-2,
#be-st #video-choice-text-3 {
  width: 93%;
  height: 6vh;
  padding-top: 5%;
  padding-left: 4%;
  margin-left: 1.5%;
  margin-top: 20%;
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
}

#all-my-drum-cover #video-choice-text p, #all-my-drum-cover #video-choice-text-1 p, #all-my-drum-cover #video-choice-text-2 p, #all-my-drum-cover #video-choice-text-3 p,
#the-chainsmokres #video-choice-text p,
#the-chainsmokres #video-choice-text-1 p,
#the-chainsmokres #video-choice-text-2 p,
#the-chainsmokres #video-choice-text-3 p,
#vi-ew #video-choice-text p,
#vi-ew #video-choice-text-1 p,
#vi-ew #video-choice-text-2 p,
#vi-ew #video-choice-text-3 p,
#o-l-d #video-choice-text p,
#o-l-d #video-choice-text-1 p,
#o-l-d #video-choice-text-2 p,
#o-l-d #video-choice-text-3 p,
#v-log #video-choice-text p,
#v-log #video-choice-text-1 p,
#v-log #video-choice-text-2 p,
#v-log #video-choice-text-3 p,
#offi-cial #video-choice-text p,
#offi-cial #video-choice-text-1 p,
#offi-cial #video-choice-text-2 p,
#offi-cial #video-choice-text-3 p,
#re-mix #video-choice-text p,
#re-mix #video-choice-text-1 p,
#re-mix #video-choice-text-2 p,
#re-mix #video-choice-text-3 p,
#dub-step #video-choice-text p,
#dub-step #video-choice-text-1 p,
#dub-step #video-choice-text-2 p,
#dub-step #video-choice-text-3 p,
#be-st #video-choice-text p,
#be-st #video-choice-text-1 p,
#be-st #video-choice-text-2 p,
#be-st #video-choice-text-3 p {
  color: white;
  font-family: 'Pretendard-Regular';
}

#all-my-drum-cover #video-choice-text p:nth-of-type(2), #all-my-drum-cover #video-choice-text-1 p:nth-of-type(2), #all-my-drum-cover #video-choice-text-2 p:nth-of-type(2), #all-my-drum-cover #video-choice-text-3 p:nth-of-type(2),
#the-chainsmokres #video-choice-text p:nth-of-type(2),
#the-chainsmokres #video-choice-text-1 p:nth-of-type(2),
#the-chainsmokres #video-choice-text-2 p:nth-of-type(2),
#the-chainsmokres #video-choice-text-3 p:nth-of-type(2),
#vi-ew #video-choice-text p:nth-of-type(2),
#vi-ew #video-choice-text-1 p:nth-of-type(2),
#vi-ew #video-choice-text-2 p:nth-of-type(2),
#vi-ew #video-choice-text-3 p:nth-of-type(2),
#o-l-d #video-choice-text p:nth-of-type(2),
#o-l-d #video-choice-text-1 p:nth-of-type(2),
#o-l-d #video-choice-text-2 p:nth-of-type(2),
#o-l-d #video-choice-text-3 p:nth-of-type(2),
#v-log #video-choice-text p:nth-of-type(2),
#v-log #video-choice-text-1 p:nth-of-type(2),
#v-log #video-choice-text-2 p:nth-of-type(2),
#v-log #video-choice-text-3 p:nth-of-type(2),
#offi-cial #video-choice-text p:nth-of-type(2),
#offi-cial #video-choice-text-1 p:nth-of-type(2),
#offi-cial #video-choice-text-2 p:nth-of-type(2),
#offi-cial #video-choice-text-3 p:nth-of-type(2),
#re-mix #video-choice-text p:nth-of-type(2),
#re-mix #video-choice-text-1 p:nth-of-type(2),
#re-mix #video-choice-text-2 p:nth-of-type(2),
#re-mix #video-choice-text-3 p:nth-of-type(2),
#dub-step #video-choice-text p:nth-of-type(2),
#dub-step #video-choice-text-1 p:nth-of-type(2),
#dub-step #video-choice-text-2 p:nth-of-type(2),
#dub-step #video-choice-text-3 p:nth-of-type(2),
#be-st #video-choice-text p:nth-of-type(2),
#be-st #video-choice-text-1 p:nth-of-type(2),
#be-st #video-choice-text-2 p:nth-of-type(2),
#be-st #video-choice-text-3 p:nth-of-type(2) {
  font-size: 0.8vw;
  padding-top: 1%;
}

#all-my-drum-cover #video-choice-text p:nth-of-type(2) span, #all-my-drum-cover #video-choice-text-1 p:nth-of-type(2) span, #all-my-drum-cover #video-choice-text-2 p:nth-of-type(2) span, #all-my-drum-cover #video-choice-text-3 p:nth-of-type(2) span,
#the-chainsmokres #video-choice-text p:nth-of-type(2) span,
#the-chainsmokres #video-choice-text-1 p:nth-of-type(2) span,
#the-chainsmokres #video-choice-text-2 p:nth-of-type(2) span,
#the-chainsmokres #video-choice-text-3 p:nth-of-type(2) span,
#vi-ew #video-choice-text p:nth-of-type(2) span,
#vi-ew #video-choice-text-1 p:nth-of-type(2) span,
#vi-ew #video-choice-text-2 p:nth-of-type(2) span,
#vi-ew #video-choice-text-3 p:nth-of-type(2) span,
#o-l-d #video-choice-text p:nth-of-type(2) span,
#o-l-d #video-choice-text-1 p:nth-of-type(2) span,
#o-l-d #video-choice-text-2 p:nth-of-type(2) span,
#o-l-d #video-choice-text-3 p:nth-of-type(2) span,
#v-log #video-choice-text p:nth-of-type(2) span,
#v-log #video-choice-text-1 p:nth-of-type(2) span,
#v-log #video-choice-text-2 p:nth-of-type(2) span,
#v-log #video-choice-text-3 p:nth-of-type(2) span,
#offi-cial #video-choice-text p:nth-of-type(2) span,
#offi-cial #video-choice-text-1 p:nth-of-type(2) span,
#offi-cial #video-choice-text-2 p:nth-of-type(2) span,
#offi-cial #video-choice-text-3 p:nth-of-type(2) span,
#re-mix #video-choice-text p:nth-of-type(2) span,
#re-mix #video-choice-text-1 p:nth-of-type(2) span,
#re-mix #video-choice-text-2 p:nth-of-type(2) span,
#re-mix #video-choice-text-3 p:nth-of-type(2) span,
#dub-step #video-choice-text p:nth-of-type(2) span,
#dub-step #video-choice-text-1 p:nth-of-type(2) span,
#dub-step #video-choice-text-2 p:nth-of-type(2) span,
#dub-step #video-choice-text-3 p:nth-of-type(2) span,
#be-st #video-choice-text p:nth-of-type(2) span,
#be-st #video-choice-text-1 p:nth-of-type(2) span,
#be-st #video-choice-text-2 p:nth-of-type(2) span,
#be-st #video-choice-text-3 p:nth-of-type(2) span {
  color: #999;
  font-size: 0.7vw;
}

#all-my-drum-cover #video-choice-list, #all-my-drum-cover #video-choice-list-1, #all-my-drum-cover #video-choice-list-2, #all-my-drum-cover #video-choice-list-3,
#the-chainsmokres #video-choice-list,
#the-chainsmokres #video-choice-list-1,
#the-chainsmokres #video-choice-list-2,
#the-chainsmokres #video-choice-list-3,
#vi-ew #video-choice-list,
#vi-ew #video-choice-list-1,
#vi-ew #video-choice-list-2,
#vi-ew #video-choice-list-3,
#o-l-d #video-choice-list,
#o-l-d #video-choice-list-1,
#o-l-d #video-choice-list-2,
#o-l-d #video-choice-list-3,
#v-log #video-choice-list,
#v-log #video-choice-list-1,
#v-log #video-choice-list-2,
#v-log #video-choice-list-3,
#offi-cial #video-choice-list,
#offi-cial #video-choice-list-1,
#offi-cial #video-choice-list-2,
#offi-cial #video-choice-list-3,
#re-mix #video-choice-list,
#re-mix #video-choice-list-1,
#re-mix #video-choice-list-2,
#re-mix #video-choice-list-3,
#dub-step #video-choice-list,
#dub-step #video-choice-list-1,
#dub-step #video-choice-list-2,
#dub-step #video-choice-list-3,
#be-st #video-choice-list,
#be-st #video-choice-list-1,
#be-st #video-choice-list-2,
#be-st #video-choice-list-3 {
  width: 97%;
  height: 70vh;
  margin-left: 1.5%;
  padding-top: 2%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow-y: scroll;
}

#all-my-drum-cover #video-choice-list::-webkit-scrollbar, #all-my-drum-cover #video-choice-list-1::-webkit-scrollbar, #all-my-drum-cover #video-choice-list-2::-webkit-scrollbar, #all-my-drum-cover #video-choice-list-3::-webkit-scrollbar,
#the-chainsmokres #video-choice-list::-webkit-scrollbar,
#the-chainsmokres #video-choice-list-1::-webkit-scrollbar,
#the-chainsmokres #video-choice-list-2::-webkit-scrollbar,
#the-chainsmokres #video-choice-list-3::-webkit-scrollbar,
#vi-ew #video-choice-list::-webkit-scrollbar,
#vi-ew #video-choice-list-1::-webkit-scrollbar,
#vi-ew #video-choice-list-2::-webkit-scrollbar,
#vi-ew #video-choice-list-3::-webkit-scrollbar,
#o-l-d #video-choice-list::-webkit-scrollbar,
#o-l-d #video-choice-list-1::-webkit-scrollbar,
#o-l-d #video-choice-list-2::-webkit-scrollbar,
#o-l-d #video-choice-list-3::-webkit-scrollbar,
#v-log #video-choice-list::-webkit-scrollbar,
#v-log #video-choice-list-1::-webkit-scrollbar,
#v-log #video-choice-list-2::-webkit-scrollbar,
#v-log #video-choice-list-3::-webkit-scrollbar,
#offi-cial #video-choice-list::-webkit-scrollbar,
#offi-cial #video-choice-list-1::-webkit-scrollbar,
#offi-cial #video-choice-list-2::-webkit-scrollbar,
#offi-cial #video-choice-list-3::-webkit-scrollbar,
#re-mix #video-choice-list::-webkit-scrollbar,
#re-mix #video-choice-list-1::-webkit-scrollbar,
#re-mix #video-choice-list-2::-webkit-scrollbar,
#re-mix #video-choice-list-3::-webkit-scrollbar,
#dub-step #video-choice-list::-webkit-scrollbar,
#dub-step #video-choice-list-1::-webkit-scrollbar,
#dub-step #video-choice-list-2::-webkit-scrollbar,
#dub-step #video-choice-list-3::-webkit-scrollbar,
#be-st #video-choice-list::-webkit-scrollbar,
#be-st #video-choice-list-1::-webkit-scrollbar,
#be-st #video-choice-list-2::-webkit-scrollbar,
#be-st #video-choice-list-3::-webkit-scrollbar {
  width: 8px;
}

#all-my-drum-cover #video-choice-list::-webkit-scrollbar-thumb, #all-my-drum-cover #video-choice-list-1::-webkit-scrollbar-thumb, #all-my-drum-cover #video-choice-list-2::-webkit-scrollbar-thumb, #all-my-drum-cover #video-choice-list-3::-webkit-scrollbar-thumb,
#the-chainsmokres #video-choice-list::-webkit-scrollbar-thumb,
#the-chainsmokres #video-choice-list-1::-webkit-scrollbar-thumb,
#the-chainsmokres #video-choice-list-2::-webkit-scrollbar-thumb,
#the-chainsmokres #video-choice-list-3::-webkit-scrollbar-thumb,
#vi-ew #video-choice-list::-webkit-scrollbar-thumb,
#vi-ew #video-choice-list-1::-webkit-scrollbar-thumb,
#vi-ew #video-choice-list-2::-webkit-scrollbar-thumb,
#vi-ew #video-choice-list-3::-webkit-scrollbar-thumb,
#o-l-d #video-choice-list::-webkit-scrollbar-thumb,
#o-l-d #video-choice-list-1::-webkit-scrollbar-thumb,
#o-l-d #video-choice-list-2::-webkit-scrollbar-thumb,
#o-l-d #video-choice-list-3::-webkit-scrollbar-thumb,
#v-log #video-choice-list::-webkit-scrollbar-thumb,
#v-log #video-choice-list-1::-webkit-scrollbar-thumb,
#v-log #video-choice-list-2::-webkit-scrollbar-thumb,
#v-log #video-choice-list-3::-webkit-scrollbar-thumb,
#offi-cial #video-choice-list::-webkit-scrollbar-thumb,
#offi-cial #video-choice-list-1::-webkit-scrollbar-thumb,
#offi-cial #video-choice-list-2::-webkit-scrollbar-thumb,
#offi-cial #video-choice-list-3::-webkit-scrollbar-thumb,
#re-mix #video-choice-list::-webkit-scrollbar-thumb,
#re-mix #video-choice-list-1::-webkit-scrollbar-thumb,
#re-mix #video-choice-list-2::-webkit-scrollbar-thumb,
#re-mix #video-choice-list-3::-webkit-scrollbar-thumb,
#dub-step #video-choice-list::-webkit-scrollbar-thumb,
#dub-step #video-choice-list-1::-webkit-scrollbar-thumb,
#dub-step #video-choice-list-2::-webkit-scrollbar-thumb,
#dub-step #video-choice-list-3::-webkit-scrollbar-thumb,
#be-st #video-choice-list::-webkit-scrollbar-thumb,
#be-st #video-choice-list-1::-webkit-scrollbar-thumb,
#be-st #video-choice-list-2::-webkit-scrollbar-thumb,
#be-st #video-choice-list-3::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

#all-my-drum-cover #video-choice-list::-webkit-scrollbar-track, #all-my-drum-cover #video-choice-list-1::-webkit-scrollbar-track, #all-my-drum-cover #video-choice-list-2::-webkit-scrollbar-track, #all-my-drum-cover #video-choice-list-3::-webkit-scrollbar-track,
#the-chainsmokres #video-choice-list::-webkit-scrollbar-track,
#the-chainsmokres #video-choice-list-1::-webkit-scrollbar-track,
#the-chainsmokres #video-choice-list-2::-webkit-scrollbar-track,
#the-chainsmokres #video-choice-list-3::-webkit-scrollbar-track,
#vi-ew #video-choice-list::-webkit-scrollbar-track,
#vi-ew #video-choice-list-1::-webkit-scrollbar-track,
#vi-ew #video-choice-list-2::-webkit-scrollbar-track,
#vi-ew #video-choice-list-3::-webkit-scrollbar-track,
#o-l-d #video-choice-list::-webkit-scrollbar-track,
#o-l-d #video-choice-list-1::-webkit-scrollbar-track,
#o-l-d #video-choice-list-2::-webkit-scrollbar-track,
#o-l-d #video-choice-list-3::-webkit-scrollbar-track,
#v-log #video-choice-list::-webkit-scrollbar-track,
#v-log #video-choice-list-1::-webkit-scrollbar-track,
#v-log #video-choice-list-2::-webkit-scrollbar-track,
#v-log #video-choice-list-3::-webkit-scrollbar-track,
#offi-cial #video-choice-list::-webkit-scrollbar-track,
#offi-cial #video-choice-list-1::-webkit-scrollbar-track,
#offi-cial #video-choice-list-2::-webkit-scrollbar-track,
#offi-cial #video-choice-list-3::-webkit-scrollbar-track,
#re-mix #video-choice-list::-webkit-scrollbar-track,
#re-mix #video-choice-list-1::-webkit-scrollbar-track,
#re-mix #video-choice-list-2::-webkit-scrollbar-track,
#re-mix #video-choice-list-3::-webkit-scrollbar-track,
#dub-step #video-choice-list::-webkit-scrollbar-track,
#dub-step #video-choice-list-1::-webkit-scrollbar-track,
#dub-step #video-choice-list-2::-webkit-scrollbar-track,
#dub-step #video-choice-list-3::-webkit-scrollbar-track,
#be-st #video-choice-list::-webkit-scrollbar-track,
#be-st #video-choice-list-1::-webkit-scrollbar-track,
#be-st #video-choice-list-2::-webkit-scrollbar-track,
#be-st #video-choice-list-3::-webkit-scrollbar-track {
  background-color: #222;
}

#all-my-drum-cover #video-choice-list ul, #all-my-drum-cover #video-choice-list-1 ul, #all-my-drum-cover #video-choice-list-2 ul, #all-my-drum-cover #video-choice-list-3 ul,
#the-chainsmokres #video-choice-list ul,
#the-chainsmokres #video-choice-list-1 ul,
#the-chainsmokres #video-choice-list-2 ul,
#the-chainsmokres #video-choice-list-3 ul,
#vi-ew #video-choice-list ul,
#vi-ew #video-choice-list-1 ul,
#vi-ew #video-choice-list-2 ul,
#vi-ew #video-choice-list-3 ul,
#o-l-d #video-choice-list ul,
#o-l-d #video-choice-list-1 ul,
#o-l-d #video-choice-list-2 ul,
#o-l-d #video-choice-list-3 ul,
#v-log #video-choice-list ul,
#v-log #video-choice-list-1 ul,
#v-log #video-choice-list-2 ul,
#v-log #video-choice-list-3 ul,
#offi-cial #video-choice-list ul,
#offi-cial #video-choice-list-1 ul,
#offi-cial #video-choice-list-2 ul,
#offi-cial #video-choice-list-3 ul,
#re-mix #video-choice-list ul,
#re-mix #video-choice-list-1 ul,
#re-mix #video-choice-list-2 ul,
#re-mix #video-choice-list-3 ul,
#dub-step #video-choice-list ul,
#dub-step #video-choice-list-1 ul,
#dub-step #video-choice-list-2 ul,
#dub-step #video-choice-list-3 ul,
#be-st #video-choice-list ul,
#be-st #video-choice-list-1 ul,
#be-st #video-choice-list-2 ul,
#be-st #video-choice-list-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#all-my-drum-cover #video-choice-list ul li,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2), #all-my-drum-cover #video-choice-list-1 ul li,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2), #all-my-drum-cover #video-choice-list-2 ul li,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2), #all-my-drum-cover #video-choice-list-3 ul li,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2),
#the-chainsmokres #video-choice-list ul li,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2),
#the-chainsmokres #video-choice-list-1 ul li,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2),
#the-chainsmokres #video-choice-list-2 ul li,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2),
#the-chainsmokres #video-choice-list-3 ul li,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2),
#vi-ew #video-choice-list ul li,
#vi-ew #video-choice-list ul li:nth-of-type(2),
#vi-ew #video-choice-list-1 ul li,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2),
#vi-ew #video-choice-list-2 ul li,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2),
#vi-ew #video-choice-list-3 ul li,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2),
#o-l-d #video-choice-list ul li,
#o-l-d #video-choice-list ul li:nth-of-type(2),
#o-l-d #video-choice-list-1 ul li,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2),
#o-l-d #video-choice-list-2 ul li,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2),
#o-l-d #video-choice-list-3 ul li,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2),
#v-log #video-choice-list ul li,
#v-log #video-choice-list ul li:nth-of-type(2),
#v-log #video-choice-list-1 ul li,
#v-log #video-choice-list-1 ul li:nth-of-type(2),
#v-log #video-choice-list-2 ul li,
#v-log #video-choice-list-2 ul li:nth-of-type(2),
#v-log #video-choice-list-3 ul li,
#v-log #video-choice-list-3 ul li:nth-of-type(2),
#offi-cial #video-choice-list ul li,
#offi-cial #video-choice-list ul li:nth-of-type(2),
#offi-cial #video-choice-list-1 ul li,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2),
#offi-cial #video-choice-list-2 ul li,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2),
#offi-cial #video-choice-list-3 ul li,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2),
#re-mix #video-choice-list ul li,
#re-mix #video-choice-list ul li:nth-of-type(2),
#re-mix #video-choice-list-1 ul li,
#re-mix #video-choice-list-1 ul li:nth-of-type(2),
#re-mix #video-choice-list-2 ul li,
#re-mix #video-choice-list-2 ul li:nth-of-type(2),
#re-mix #video-choice-list-3 ul li,
#re-mix #video-choice-list-3 ul li:nth-of-type(2),
#dub-step #video-choice-list ul li,
#dub-step #video-choice-list ul li:nth-of-type(2),
#dub-step #video-choice-list-1 ul li,
#dub-step #video-choice-list-1 ul li:nth-of-type(2),
#dub-step #video-choice-list-2 ul li,
#dub-step #video-choice-list-2 ul li:nth-of-type(2),
#dub-step #video-choice-list-3 ul li,
#dub-step #video-choice-list-3 ul li:nth-of-type(2),
#be-st #video-choice-list ul li,
#be-st #video-choice-list ul li:nth-of-type(2),
#be-st #video-choice-list-1 ul li,
#be-st #video-choice-list-1 ul li:nth-of-type(2),
#be-st #video-choice-list-2 ul li,
#be-st #video-choice-list-2 ul li:nth-of-type(2),
#be-st #video-choice-list-3 ul li,
#be-st #video-choice-list-3 ul li:nth-of-type(2) {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#all-my-drum-cover #video-choice-list ul li img,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2) img, #all-my-drum-cover #video-choice-list-1 ul li img,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2) img, #all-my-drum-cover #video-choice-list-2 ul li img,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2) img, #all-my-drum-cover #video-choice-list-3 ul li img,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2) img,
#the-chainsmokres #video-choice-list ul li img,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2) img,
#the-chainsmokres #video-choice-list-1 ul li img,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2) img,
#the-chainsmokres #video-choice-list-2 ul li img,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2) img,
#the-chainsmokres #video-choice-list-3 ul li img,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2) img,
#vi-ew #video-choice-list ul li img,
#vi-ew #video-choice-list ul li:nth-of-type(2) img,
#vi-ew #video-choice-list-1 ul li img,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2) img,
#vi-ew #video-choice-list-2 ul li img,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2) img,
#vi-ew #video-choice-list-3 ul li img,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2) img,
#o-l-d #video-choice-list ul li img,
#o-l-d #video-choice-list ul li:nth-of-type(2) img,
#o-l-d #video-choice-list-1 ul li img,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2) img,
#o-l-d #video-choice-list-2 ul li img,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2) img,
#o-l-d #video-choice-list-3 ul li img,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2) img,
#v-log #video-choice-list ul li img,
#v-log #video-choice-list ul li:nth-of-type(2) img,
#v-log #video-choice-list-1 ul li img,
#v-log #video-choice-list-1 ul li:nth-of-type(2) img,
#v-log #video-choice-list-2 ul li img,
#v-log #video-choice-list-2 ul li:nth-of-type(2) img,
#v-log #video-choice-list-3 ul li img,
#v-log #video-choice-list-3 ul li:nth-of-type(2) img,
#offi-cial #video-choice-list ul li img,
#offi-cial #video-choice-list ul li:nth-of-type(2) img,
#offi-cial #video-choice-list-1 ul li img,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2) img,
#offi-cial #video-choice-list-2 ul li img,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2) img,
#offi-cial #video-choice-list-3 ul li img,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2) img,
#re-mix #video-choice-list ul li img,
#re-mix #video-choice-list ul li:nth-of-type(2) img,
#re-mix #video-choice-list-1 ul li img,
#re-mix #video-choice-list-1 ul li:nth-of-type(2) img,
#re-mix #video-choice-list-2 ul li img,
#re-mix #video-choice-list-2 ul li:nth-of-type(2) img,
#re-mix #video-choice-list-3 ul li img,
#re-mix #video-choice-list-3 ul li:nth-of-type(2) img,
#dub-step #video-choice-list ul li img,
#dub-step #video-choice-list ul li:nth-of-type(2) img,
#dub-step #video-choice-list-1 ul li img,
#dub-step #video-choice-list-1 ul li:nth-of-type(2) img,
#dub-step #video-choice-list-2 ul li img,
#dub-step #video-choice-list-2 ul li:nth-of-type(2) img,
#dub-step #video-choice-list-3 ul li img,
#dub-step #video-choice-list-3 ul li:nth-of-type(2) img,
#be-st #video-choice-list ul li img,
#be-st #video-choice-list ul li:nth-of-type(2) img,
#be-st #video-choice-list-1 ul li img,
#be-st #video-choice-list-1 ul li:nth-of-type(2) img,
#be-st #video-choice-list-2 ul li img,
#be-st #video-choice-list-2 ul li:nth-of-type(2) img,
#be-st #video-choice-list-3 ul li img,
#be-st #video-choice-list-3 ul li:nth-of-type(2) img {
  width: 5.5vw;
}

#all-my-drum-cover #video-choice-list ul li > div > p,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2) > div > p, #all-my-drum-cover #video-choice-list-1 ul li > div > p,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2) > div > p, #all-my-drum-cover #video-choice-list-2 ul li > div > p,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2) > div > p, #all-my-drum-cover #video-choice-list-3 ul li > div > p,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#the-chainsmokres #video-choice-list ul li > div > p,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2) > div > p,
#the-chainsmokres #video-choice-list-1 ul li > div > p,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#the-chainsmokres #video-choice-list-2 ul li > div > p,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#the-chainsmokres #video-choice-list-3 ul li > div > p,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#vi-ew #video-choice-list ul li > div > p,
#vi-ew #video-choice-list ul li:nth-of-type(2) > div > p,
#vi-ew #video-choice-list-1 ul li > div > p,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#vi-ew #video-choice-list-2 ul li > div > p,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#vi-ew #video-choice-list-3 ul li > div > p,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#o-l-d #video-choice-list ul li > div > p,
#o-l-d #video-choice-list ul li:nth-of-type(2) > div > p,
#o-l-d #video-choice-list-1 ul li > div > p,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#o-l-d #video-choice-list-2 ul li > div > p,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#o-l-d #video-choice-list-3 ul li > div > p,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#v-log #video-choice-list ul li > div > p,
#v-log #video-choice-list ul li:nth-of-type(2) > div > p,
#v-log #video-choice-list-1 ul li > div > p,
#v-log #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#v-log #video-choice-list-2 ul li > div > p,
#v-log #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#v-log #video-choice-list-3 ul li > div > p,
#v-log #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#offi-cial #video-choice-list ul li > div > p,
#offi-cial #video-choice-list ul li:nth-of-type(2) > div > p,
#offi-cial #video-choice-list-1 ul li > div > p,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#offi-cial #video-choice-list-2 ul li > div > p,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#offi-cial #video-choice-list-3 ul li > div > p,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#re-mix #video-choice-list ul li > div > p,
#re-mix #video-choice-list ul li:nth-of-type(2) > div > p,
#re-mix #video-choice-list-1 ul li > div > p,
#re-mix #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#re-mix #video-choice-list-2 ul li > div > p,
#re-mix #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#re-mix #video-choice-list-3 ul li > div > p,
#re-mix #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#dub-step #video-choice-list ul li > div > p,
#dub-step #video-choice-list ul li:nth-of-type(2) > div > p,
#dub-step #video-choice-list-1 ul li > div > p,
#dub-step #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#dub-step #video-choice-list-2 ul li > div > p,
#dub-step #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#dub-step #video-choice-list-3 ul li > div > p,
#dub-step #video-choice-list-3 ul li:nth-of-type(2) > div > p,
#be-st #video-choice-list ul li > div > p,
#be-st #video-choice-list ul li:nth-of-type(2) > div > p,
#be-st #video-choice-list-1 ul li > div > p,
#be-st #video-choice-list-1 ul li:nth-of-type(2) > div > p,
#be-st #video-choice-list-2 ul li > div > p,
#be-st #video-choice-list-2 ul li:nth-of-type(2) > div > p,
#be-st #video-choice-list-3 ul li > div > p,
#be-st #video-choice-list-3 ul li:nth-of-type(2) > div > p {
  width: 100%;
}

#all-my-drum-cover #video-choice-list ul li > div,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2) > div, #all-my-drum-cover #video-choice-list-1 ul li > div,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2) > div, #all-my-drum-cover #video-choice-list-2 ul li > div,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2) > div, #all-my-drum-cover #video-choice-list-3 ul li > div,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2) > div,
#the-chainsmokres #video-choice-list ul li > div,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2) > div,
#the-chainsmokres #video-choice-list-1 ul li > div,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2) > div,
#the-chainsmokres #video-choice-list-2 ul li > div,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2) > div,
#the-chainsmokres #video-choice-list-3 ul li > div,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2) > div,
#vi-ew #video-choice-list ul li > div,
#vi-ew #video-choice-list ul li:nth-of-type(2) > div,
#vi-ew #video-choice-list-1 ul li > div,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2) > div,
#vi-ew #video-choice-list-2 ul li > div,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2) > div,
#vi-ew #video-choice-list-3 ul li > div,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2) > div,
#o-l-d #video-choice-list ul li > div,
#o-l-d #video-choice-list ul li:nth-of-type(2) > div,
#o-l-d #video-choice-list-1 ul li > div,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2) > div,
#o-l-d #video-choice-list-2 ul li > div,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2) > div,
#o-l-d #video-choice-list-3 ul li > div,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2) > div,
#v-log #video-choice-list ul li > div,
#v-log #video-choice-list ul li:nth-of-type(2) > div,
#v-log #video-choice-list-1 ul li > div,
#v-log #video-choice-list-1 ul li:nth-of-type(2) > div,
#v-log #video-choice-list-2 ul li > div,
#v-log #video-choice-list-2 ul li:nth-of-type(2) > div,
#v-log #video-choice-list-3 ul li > div,
#v-log #video-choice-list-3 ul li:nth-of-type(2) > div,
#offi-cial #video-choice-list ul li > div,
#offi-cial #video-choice-list ul li:nth-of-type(2) > div,
#offi-cial #video-choice-list-1 ul li > div,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2) > div,
#offi-cial #video-choice-list-2 ul li > div,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2) > div,
#offi-cial #video-choice-list-3 ul li > div,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2) > div,
#re-mix #video-choice-list ul li > div,
#re-mix #video-choice-list ul li:nth-of-type(2) > div,
#re-mix #video-choice-list-1 ul li > div,
#re-mix #video-choice-list-1 ul li:nth-of-type(2) > div,
#re-mix #video-choice-list-2 ul li > div,
#re-mix #video-choice-list-2 ul li:nth-of-type(2) > div,
#re-mix #video-choice-list-3 ul li > div,
#re-mix #video-choice-list-3 ul li:nth-of-type(2) > div,
#dub-step #video-choice-list ul li > div,
#dub-step #video-choice-list ul li:nth-of-type(2) > div,
#dub-step #video-choice-list-1 ul li > div,
#dub-step #video-choice-list-1 ul li:nth-of-type(2) > div,
#dub-step #video-choice-list-2 ul li > div,
#dub-step #video-choice-list-2 ul li:nth-of-type(2) > div,
#dub-step #video-choice-list-3 ul li > div,
#dub-step #video-choice-list-3 ul li:nth-of-type(2) > div,
#be-st #video-choice-list ul li > div,
#be-st #video-choice-list ul li:nth-of-type(2) > div,
#be-st #video-choice-list-1 ul li > div,
#be-st #video-choice-list-1 ul li:nth-of-type(2) > div,
#be-st #video-choice-list-2 ul li > div,
#be-st #video-choice-list-2 ul li:nth-of-type(2) > div,
#be-st #video-choice-list-3 ul li > div,
#be-st #video-choice-list-3 ul li:nth-of-type(2) > div {
  width: 50%;
}

#all-my-drum-cover #video-choice-list ul li p,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2) p, #all-my-drum-cover #video-choice-list-1 ul li p,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2) p, #all-my-drum-cover #video-choice-list-2 ul li p,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2) p, #all-my-drum-cover #video-choice-list-3 ul li p,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2) p,
#the-chainsmokres #video-choice-list ul li p,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2) p,
#the-chainsmokres #video-choice-list-1 ul li p,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2) p,
#the-chainsmokres #video-choice-list-2 ul li p,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2) p,
#the-chainsmokres #video-choice-list-3 ul li p,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2) p,
#vi-ew #video-choice-list ul li p,
#vi-ew #video-choice-list ul li:nth-of-type(2) p,
#vi-ew #video-choice-list-1 ul li p,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2) p,
#vi-ew #video-choice-list-2 ul li p,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2) p,
#vi-ew #video-choice-list-3 ul li p,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2) p,
#o-l-d #video-choice-list ul li p,
#o-l-d #video-choice-list ul li:nth-of-type(2) p,
#o-l-d #video-choice-list-1 ul li p,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2) p,
#o-l-d #video-choice-list-2 ul li p,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2) p,
#o-l-d #video-choice-list-3 ul li p,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2) p,
#v-log #video-choice-list ul li p,
#v-log #video-choice-list ul li:nth-of-type(2) p,
#v-log #video-choice-list-1 ul li p,
#v-log #video-choice-list-1 ul li:nth-of-type(2) p,
#v-log #video-choice-list-2 ul li p,
#v-log #video-choice-list-2 ul li:nth-of-type(2) p,
#v-log #video-choice-list-3 ul li p,
#v-log #video-choice-list-3 ul li:nth-of-type(2) p,
#offi-cial #video-choice-list ul li p,
#offi-cial #video-choice-list ul li:nth-of-type(2) p,
#offi-cial #video-choice-list-1 ul li p,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2) p,
#offi-cial #video-choice-list-2 ul li p,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2) p,
#offi-cial #video-choice-list-3 ul li p,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2) p,
#re-mix #video-choice-list ul li p,
#re-mix #video-choice-list ul li:nth-of-type(2) p,
#re-mix #video-choice-list-1 ul li p,
#re-mix #video-choice-list-1 ul li:nth-of-type(2) p,
#re-mix #video-choice-list-2 ul li p,
#re-mix #video-choice-list-2 ul li:nth-of-type(2) p,
#re-mix #video-choice-list-3 ul li p,
#re-mix #video-choice-list-3 ul li:nth-of-type(2) p,
#dub-step #video-choice-list ul li p,
#dub-step #video-choice-list ul li:nth-of-type(2) p,
#dub-step #video-choice-list-1 ul li p,
#dub-step #video-choice-list-1 ul li:nth-of-type(2) p,
#dub-step #video-choice-list-2 ul li p,
#dub-step #video-choice-list-2 ul li:nth-of-type(2) p,
#dub-step #video-choice-list-3 ul li p,
#dub-step #video-choice-list-3 ul li:nth-of-type(2) p,
#be-st #video-choice-list ul li p,
#be-st #video-choice-list ul li:nth-of-type(2) p,
#be-st #video-choice-list-1 ul li p,
#be-st #video-choice-list-1 ul li:nth-of-type(2) p,
#be-st #video-choice-list-2 ul li p,
#be-st #video-choice-list-2 ul li:nth-of-type(2) p,
#be-st #video-choice-list-3 ul li p,
#be-st #video-choice-list-3 ul li:nth-of-type(2) p {
  font-family: 'Pretendard-Regular';
  font-size: 0.8vw;
  color: white;
}

#all-my-drum-cover #video-choice-list ul li span,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2) span, #all-my-drum-cover #video-choice-list-1 ul li span,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2) span, #all-my-drum-cover #video-choice-list-2 ul li span,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2) span, #all-my-drum-cover #video-choice-list-3 ul li span,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2) span,
#the-chainsmokres #video-choice-list ul li span,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2) span,
#the-chainsmokres #video-choice-list-1 ul li span,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2) span,
#the-chainsmokres #video-choice-list-2 ul li span,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2) span,
#the-chainsmokres #video-choice-list-3 ul li span,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2) span,
#vi-ew #video-choice-list ul li span,
#vi-ew #video-choice-list ul li:nth-of-type(2) span,
#vi-ew #video-choice-list-1 ul li span,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2) span,
#vi-ew #video-choice-list-2 ul li span,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2) span,
#vi-ew #video-choice-list-3 ul li span,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2) span,
#o-l-d #video-choice-list ul li span,
#o-l-d #video-choice-list ul li:nth-of-type(2) span,
#o-l-d #video-choice-list-1 ul li span,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2) span,
#o-l-d #video-choice-list-2 ul li span,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2) span,
#o-l-d #video-choice-list-3 ul li span,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2) span,
#v-log #video-choice-list ul li span,
#v-log #video-choice-list ul li:nth-of-type(2) span,
#v-log #video-choice-list-1 ul li span,
#v-log #video-choice-list-1 ul li:nth-of-type(2) span,
#v-log #video-choice-list-2 ul li span,
#v-log #video-choice-list-2 ul li:nth-of-type(2) span,
#v-log #video-choice-list-3 ul li span,
#v-log #video-choice-list-3 ul li:nth-of-type(2) span,
#offi-cial #video-choice-list ul li span,
#offi-cial #video-choice-list ul li:nth-of-type(2) span,
#offi-cial #video-choice-list-1 ul li span,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2) span,
#offi-cial #video-choice-list-2 ul li span,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2) span,
#offi-cial #video-choice-list-3 ul li span,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2) span,
#re-mix #video-choice-list ul li span,
#re-mix #video-choice-list ul li:nth-of-type(2) span,
#re-mix #video-choice-list-1 ul li span,
#re-mix #video-choice-list-1 ul li:nth-of-type(2) span,
#re-mix #video-choice-list-2 ul li span,
#re-mix #video-choice-list-2 ul li:nth-of-type(2) span,
#re-mix #video-choice-list-3 ul li span,
#re-mix #video-choice-list-3 ul li:nth-of-type(2) span,
#dub-step #video-choice-list ul li span,
#dub-step #video-choice-list ul li:nth-of-type(2) span,
#dub-step #video-choice-list-1 ul li span,
#dub-step #video-choice-list-1 ul li:nth-of-type(2) span,
#dub-step #video-choice-list-2 ul li span,
#dub-step #video-choice-list-2 ul li:nth-of-type(2) span,
#dub-step #video-choice-list-3 ul li span,
#dub-step #video-choice-list-3 ul li:nth-of-type(2) span,
#be-st #video-choice-list ul li span,
#be-st #video-choice-list ul li:nth-of-type(2) span,
#be-st #video-choice-list-1 ul li span,
#be-st #video-choice-list-1 ul li:nth-of-type(2) span,
#be-st #video-choice-list-2 ul li span,
#be-st #video-choice-list-2 ul li:nth-of-type(2) span,
#be-st #video-choice-list-3 ul li span,
#be-st #video-choice-list-3 ul li:nth-of-type(2) span {
  font-family: 'Pretendard-Regular';
  font-size: 0.7vw;
  color: #999;
}

#all-my-drum-cover #video-choice-list ul li:hover,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2):hover, #all-my-drum-cover #video-choice-list-1 ul li:hover,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2):hover, #all-my-drum-cover #video-choice-list-2 ul li:hover,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2):hover, #all-my-drum-cover #video-choice-list-3 ul li:hover,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2):hover,
#the-chainsmokres #video-choice-list ul li:hover,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2):hover,
#the-chainsmokres #video-choice-list-1 ul li:hover,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2):hover,
#the-chainsmokres #video-choice-list-2 ul li:hover,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2):hover,
#the-chainsmokres #video-choice-list-3 ul li:hover,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2):hover,
#vi-ew #video-choice-list ul li:hover,
#vi-ew #video-choice-list ul li:nth-of-type(2):hover,
#vi-ew #video-choice-list-1 ul li:hover,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2):hover,
#vi-ew #video-choice-list-2 ul li:hover,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2):hover,
#vi-ew #video-choice-list-3 ul li:hover,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2):hover,
#o-l-d #video-choice-list ul li:hover,
#o-l-d #video-choice-list ul li:nth-of-type(2):hover,
#o-l-d #video-choice-list-1 ul li:hover,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2):hover,
#o-l-d #video-choice-list-2 ul li:hover,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2):hover,
#o-l-d #video-choice-list-3 ul li:hover,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2):hover,
#v-log #video-choice-list ul li:hover,
#v-log #video-choice-list ul li:nth-of-type(2):hover,
#v-log #video-choice-list-1 ul li:hover,
#v-log #video-choice-list-1 ul li:nth-of-type(2):hover,
#v-log #video-choice-list-2 ul li:hover,
#v-log #video-choice-list-2 ul li:nth-of-type(2):hover,
#v-log #video-choice-list-3 ul li:hover,
#v-log #video-choice-list-3 ul li:nth-of-type(2):hover,
#offi-cial #video-choice-list ul li:hover,
#offi-cial #video-choice-list ul li:nth-of-type(2):hover,
#offi-cial #video-choice-list-1 ul li:hover,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2):hover,
#offi-cial #video-choice-list-2 ul li:hover,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2):hover,
#offi-cial #video-choice-list-3 ul li:hover,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2):hover,
#re-mix #video-choice-list ul li:hover,
#re-mix #video-choice-list ul li:nth-of-type(2):hover,
#re-mix #video-choice-list-1 ul li:hover,
#re-mix #video-choice-list-1 ul li:nth-of-type(2):hover,
#re-mix #video-choice-list-2 ul li:hover,
#re-mix #video-choice-list-2 ul li:nth-of-type(2):hover,
#re-mix #video-choice-list-3 ul li:hover,
#re-mix #video-choice-list-3 ul li:nth-of-type(2):hover,
#dub-step #video-choice-list ul li:hover,
#dub-step #video-choice-list ul li:nth-of-type(2):hover,
#dub-step #video-choice-list-1 ul li:hover,
#dub-step #video-choice-list-1 ul li:nth-of-type(2):hover,
#dub-step #video-choice-list-2 ul li:hover,
#dub-step #video-choice-list-2 ul li:nth-of-type(2):hover,
#dub-step #video-choice-list-3 ul li:hover,
#dub-step #video-choice-list-3 ul li:nth-of-type(2):hover,
#be-st #video-choice-list ul li:hover,
#be-st #video-choice-list ul li:nth-of-type(2):hover,
#be-st #video-choice-list-1 ul li:hover,
#be-st #video-choice-list-1 ul li:nth-of-type(2):hover,
#be-st #video-choice-list-2 ul li:hover,
#be-st #video-choice-list-2 ul li:nth-of-type(2):hover,
#be-st #video-choice-list-3 ul li:hover,
#be-st #video-choice-list-3 ul li:nth-of-type(2):hover {
  background: rgba(153, 153, 153, 0.1);
}

#all-my-drum-cover #video-choice-list ul li.active,
#all-my-drum-cover #video-choice-list ul li:nth-of-type(2).active, #all-my-drum-cover #video-choice-list-1 ul li.active,
#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(2).active, #all-my-drum-cover #video-choice-list-2 ul li.active,
#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2).active, #all-my-drum-cover #video-choice-list-3 ul li.active,
#all-my-drum-cover #video-choice-list-3 ul li:nth-of-type(2).active,
#the-chainsmokres #video-choice-list ul li.active,
#the-chainsmokres #video-choice-list ul li:nth-of-type(2).active,
#the-chainsmokres #video-choice-list-1 ul li.active,
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(2).active,
#the-chainsmokres #video-choice-list-2 ul li.active,
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2).active,
#the-chainsmokres #video-choice-list-3 ul li.active,
#the-chainsmokres #video-choice-list-3 ul li:nth-of-type(2).active,
#vi-ew #video-choice-list ul li.active,
#vi-ew #video-choice-list ul li:nth-of-type(2).active,
#vi-ew #video-choice-list-1 ul li.active,
#vi-ew #video-choice-list-1 ul li:nth-of-type(2).active,
#vi-ew #video-choice-list-2 ul li.active,
#vi-ew #video-choice-list-2 ul li:nth-of-type(2).active,
#vi-ew #video-choice-list-3 ul li.active,
#vi-ew #video-choice-list-3 ul li:nth-of-type(2).active,
#o-l-d #video-choice-list ul li.active,
#o-l-d #video-choice-list ul li:nth-of-type(2).active,
#o-l-d #video-choice-list-1 ul li.active,
#o-l-d #video-choice-list-1 ul li:nth-of-type(2).active,
#o-l-d #video-choice-list-2 ul li.active,
#o-l-d #video-choice-list-2 ul li:nth-of-type(2).active,
#o-l-d #video-choice-list-3 ul li.active,
#o-l-d #video-choice-list-3 ul li:nth-of-type(2).active,
#v-log #video-choice-list ul li.active,
#v-log #video-choice-list ul li:nth-of-type(2).active,
#v-log #video-choice-list-1 ul li.active,
#v-log #video-choice-list-1 ul li:nth-of-type(2).active,
#v-log #video-choice-list-2 ul li.active,
#v-log #video-choice-list-2 ul li:nth-of-type(2).active,
#v-log #video-choice-list-3 ul li.active,
#v-log #video-choice-list-3 ul li:nth-of-type(2).active,
#offi-cial #video-choice-list ul li.active,
#offi-cial #video-choice-list ul li:nth-of-type(2).active,
#offi-cial #video-choice-list-1 ul li.active,
#offi-cial #video-choice-list-1 ul li:nth-of-type(2).active,
#offi-cial #video-choice-list-2 ul li.active,
#offi-cial #video-choice-list-2 ul li:nth-of-type(2).active,
#offi-cial #video-choice-list-3 ul li.active,
#offi-cial #video-choice-list-3 ul li:nth-of-type(2).active,
#re-mix #video-choice-list ul li.active,
#re-mix #video-choice-list ul li:nth-of-type(2).active,
#re-mix #video-choice-list-1 ul li.active,
#re-mix #video-choice-list-1 ul li:nth-of-type(2).active,
#re-mix #video-choice-list-2 ul li.active,
#re-mix #video-choice-list-2 ul li:nth-of-type(2).active,
#re-mix #video-choice-list-3 ul li.active,
#re-mix #video-choice-list-3 ul li:nth-of-type(2).active,
#dub-step #video-choice-list ul li.active,
#dub-step #video-choice-list ul li:nth-of-type(2).active,
#dub-step #video-choice-list-1 ul li.active,
#dub-step #video-choice-list-1 ul li:nth-of-type(2).active,
#dub-step #video-choice-list-2 ul li.active,
#dub-step #video-choice-list-2 ul li:nth-of-type(2).active,
#dub-step #video-choice-list-3 ul li.active,
#dub-step #video-choice-list-3 ul li:nth-of-type(2).active,
#be-st #video-choice-list ul li.active,
#be-st #video-choice-list ul li:nth-of-type(2).active,
#be-st #video-choice-list-1 ul li.active,
#be-st #video-choice-list-1 ul li:nth-of-type(2).active,
#be-st #video-choice-list-2 ul li.active,
#be-st #video-choice-list-2 ul li:nth-of-type(2).active,
#be-st #video-choice-list-3 ul li.active,
#be-st #video-choice-list-3 ul li:nth-of-type(2).active {
  background: #444;
}

#all-my-drum-cover #video-choice-list-1 ul li:nth-of-type(1),
#the-chainsmokres #video-choice-list-1 ul li:nth-of-type(1),
#vi-ew #video-choice-list-1 ul li:nth-of-type(1),
#o-l-d #video-choice-list-1 ul li:nth-of-type(1),
#v-log #video-choice-list-1 ul li:nth-of-type(1),
#offi-cial #video-choice-list-1 ul li:nth-of-type(1),
#re-mix #video-choice-list-1 ul li:nth-of-type(1),
#dub-step #video-choice-list-1 ul li:nth-of-type(1),
#be-st #video-choice-list-1 ul li:nth-of-type(1) {
  height: 10vh;
}

#all-my-drum-cover #video-choice-list-2 ul li:nth-of-type(2),
#the-chainsmokres #video-choice-list-2 ul li:nth-of-type(2),
#vi-ew #video-choice-list-2 ul li:nth-of-type(2),
#o-l-d #video-choice-list-2 ul li:nth-of-type(2),
#v-log #video-choice-list-2 ul li:nth-of-type(2),
#offi-cial #video-choice-list-2 ul li:nth-of-type(2),
#re-mix #video-choice-list-2 ul li:nth-of-type(2),
#dub-step #video-choice-list-2 ul li:nth-of-type(2),
#be-st #video-choice-list-2 ul li:nth-of-type(2) {
  height: 10vh;
}

#v-log {
  background-color: palevioletred;
}

#offi-cial {
  background-color: peru;
}

#re-mix {
  background-color: plum;
}

#dub-step {
  background-color: purple;
}

#be-st {
  background-color: rosybrown;
}
