body {
  background: url(../../img/pexels-pixabay-220201.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

.sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec h1 {
  width: 9.5vw;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: white;
  position: fixed;
  top: 40%;
  left: 30%;
  z-index: 99;
  font-size: 3vw;
  pointer-events: none;
  font-family: "SBAggroB";
}
.sec h1:nth-of-type(1) {
  transform: translate(-40%, -50%);
  text-align: start;
}
.sec h1:nth-of-type(2) {
  transform: translate(300%, -50%);
  text-align: end;
}

#sec {
  width: 100%;
  font-size: 10vw;
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 99;
  transform: translate(-26%, -50%);
  text-transform: uppercase;
  pointer-events: none;
  mix-blend-mode: difference;
  color: white;
  font-family: "SBAggroB";
}

.box {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  display: Flex;
  justify-content: space-evenly;
}

.image-1:nth-of-type(1),
.image-1:nth-of-type(3) {
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.image-1:nth-of-type(1) li img,
.image-1:nth-of-type(3) li img {
  width: 100%;
  height: 30vh;
  filter: saturate(0);
  transition: 0.3s ease-out;
  z-index: 100 !important;
  margin-bottom: 15%;
}
.image-1:nth-of-type(1) li img:hover,
.image-1:nth-of-type(3) li img:hover {
  filter: saturate(1);
}

.image-1:nth-of-type(2) {
  width: 30%;
  height: 200vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.image-1:nth-of-type(2) li img {
  width: 100%;
  height: 60vh;
  filter: saturate(0);
  transition: 0.3s ease-out;
  z-index: 100 !important;
  margin-bottom: 5%;
}
.image-1:nth-of-type(2) li img:hover {
  filter: saturate(1);
}